<div ng-controller="page1Controller"class="container">
	<div class="row">
		<br />
		<div class="search-classic col-lg-12">
			<div class="input-group well">
				<input type="text" class="form-control" placeholder="Name it..." ng-model="query">
				<span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="queryServer()">
                        <i class="fa fa-search"></i> Search
                    </button>
				</span>
			</div>
		</div>
	</div>
</div>